<div>
  <h3
    class="text-xl font-semibold text-gray-700 my-4 text-center bg-gray-300 p-2 rounded-lg m-10"
  >
    👥 Users
  </h3>
  <!-- <div class="flex justify-between items-center">
    <input
      type="text"
      class="input input-bordered w-1/2"
      placeholder="Search users..."
      [(ngModel)]="searchTerm"
    />
    <button class="btn btn-primary" (click)="addUser()">Add User</button> -->
</div>
<div class="overflow-x-auto mt-5 border-collapse m-10">
  <table class="table border border-gray-300 rounded-lg text-center">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Registered</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of generalUsers; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td>{{ user.registered ? "Yes" : "No" }}</td>
        <td>
          <button class="btn bg-yellow-200 btn-sm" (click)="updateUser(user)">
            {{ user.registered ? "Unregister" : "Register" }}
          </button>
          <button
            class="btn btn-danger btn-sm"
            (click)="deleteUser(user.id || '')"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
