<div class="drawer lg:drawer-open">
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    <router-outlet></router-outlet>
    <label
      for="my-drawer-2"
      class="btn btn-primary drawer-button lg:hidden md:block sm:block"
    >
      Open drawer
    </label>
  </div>
  <div class="drawer-side">
    <label
      for="my-drawer-2"
      aria-label="close sidebar"
      class="drawer-overlay"
    ></label>
    <ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4">
      <!-- Sidebar content here -->
      <li>
        <a
          [routerLink]="['/admin/add-quiz']"
          routerLinkActive="router-link-active bg-accent hover:none"
          >Quiz</a
        >
      </li>
      <li>
        <a
          [routerLink]="['/admin/users']"
          routerLinkActive="router-link-active bg-accent hover:none"
          >Users</a
        >
      </li>

      <li><a>Analytics</a></li>
    </ul>
  </div>
</div>
