<div class="flex items-center justify-end broder border-gray-200 p-4 my-4">
  <div>
    <button class="btn btn-active" onclick="addQuiz.showModal()">
      Add Quiz <i class="fa-solid fa-plus"></i>
    </button>
  </div>
</div>

<div class="overflow-x-auto border border-gray-200 rounded-lg mx-5">
  <table class="table">
    <!-- Table Head -->
    <thead>
      <tr>
        <th>
          <label>
            <input type="checkbox" class="checkbox" />
          </label>
        </th>
        <th>Title</th>
        <th>Category</th>
        <th>Subcategory</th>
        <th>Take Time</th>
        <th>Active Status</th>
        <th>For Registered Users</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <!-- Table Rows -->
      <tr *ngFor="let quiz of data">
        <th>
          <label>
            <input type="checkbox" class="checkbox" />
          </label>
        </th>
        <td>
          <div class="flex items-center gap-3">
            <div class="avatar">
              <div class="mask mask-squircle h-12 w-12">
                <img [src]="quiz.coverImage" alt="{{ quiz.title }}" />
              </div>
            </div>
            <div>
              <div class="font-bold">{{ quiz.title }}</div>
              <div class="text-sm opacity-50">{{ quiz.description }}</div>
            </div>
          </div>
        </td>
        <td>{{ quiz.category }}</td>
        <td>{{ quiz.subcategory }}</td>
        <td>{{ quiz.takeTime }} mins</td>
        <td>
          <span
            class="badge px-3 py-1 rounded-full text-white"
            [ngClass]="{
              'bg-green-500': quiz.isActive,
              'bg-red-500': !quiz.isActive
            }"
          >
            {{ quiz.isActive ? "Active" : "Inactive" }}
          </span>
        </td>

        <td>
          <span
            class="badge px-3 py-1 rounded-full text-white"
            [ngClass]="{
              'bg-green-500': quiz.registered,
              'bg-red-500': !quiz.registered
            }"
          >
            {{ quiz.registered ? "Yes" : "No" }}</span
          >
        </td>
        <td>
          <button class="btn btn-ghost btn-xs" (click)="editQuiz(quiz)">
            Edit
          </button>
          <button class="btn btn-ghost btn-xs" (click)="deleteQuiz(quiz)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- modal -->
<dialog id="addQuiz" class="modal">
  <div
    class="modal-box w-11/12 max-w-5xl mt-10 absolute top-10 left-1/2 transform -translate-x-1/2"
  >
    <h3 class="text-lg font-bold">Add Quiz</h3>
    <p class="py-4">Fill in the details to create a new quiz</p>
    <form [formGroup]="quizForm" (ngSubmit)="onSubmit()" class="space-y-4">
      <!-- Quiz Title -->
      <div>
        <label class="block text-sm font-medium text-gray-700"
          >Quiz Title</label
        >
        <input
          type="text"
          formControlName="title"
          class="input input-bordered w-full"
          placeholder="Enter quiz title"
        />
        <div
          *ngIf="
            quizForm.get('title')?.invalid && quizForm.get('title')?.touched
          "
          class="text-red-500 text-sm"
        >
          Title is required.
        </div>
      </div>

      <!-- Description -->
      <div>
        <label class="block text-sm font-medium text-gray-700"
          >Description</label
        >
        <textarea
          formControlName="description"
          class="textarea textarea-bordered w-full"
          placeholder="Enter quiz description"
        ></textarea>
        <div
          *ngIf="
            quizForm.get('description')?.invalid &&
            quizForm.get('description')?.touched
          "
          class="text-red-500 text-sm"
        >
          Description is required.
        </div>
      </div>

      <!-- Category -->
      <div>
        <label class="block text-sm font-medium text-gray-700">Category</label>
        <input
          type="text"
          formControlName="category"
          class="input input-bordered w-full"
          placeholder="Enter category"
        />
        <div
          *ngIf="
            quizForm.get('category')?.invalid &&
            quizForm.get('category')?.touched
          "
          class="text-red-500 text-sm"
        >
          Category is required.
        </div>
      </div>

      <!-- Subcategory -->
      <div>
        <label class="block text-sm font-medium text-gray-700"
          >Subcategory</label
        >
        <input
          type="text"
          formControlName="subcategory"
          class="input input-bordered w-full"
          placeholder="Enter subcategory"
        />
        <div
          *ngIf="
            quizForm.get('subcategory')?.invalid &&
            quizForm.get('subcategory')?.touched
          "
          class="text-red-500 text-sm"
        >
          Subcategory is required.
        </div>
      </div>

      <!-- Take Time -->
      <div>
        <label class="block text-sm font-medium text-gray-700"
          >Time (minutes)</label
        >
        <input
          type="number"
          formControlName="takeTime"
          class="input input-bordered w-full"
          placeholder="Enter time to take the quiz"
        />
        <div
          *ngIf="
            quizForm.get('takeTime')?.invalid &&
            quizForm.get('takeTime')?.touched
          "
          class="text-red-500 text-sm"
        >
          Time must be at least 1 minute.
        </div>
      </div>

      <!-- Cover Image -->
      <div>
        <label class="block text-sm font-medium text-gray-700"
          >Cover Image</label
        >
        <input
          type="text"
          formControlName="coverImage"
          class="file-input file-input-bordered w-full max-w-xs"
        />
        <div
          *ngIf="
            quizForm.get('coverImage')?.invalid &&
            quizForm.get('coverImage')?.touched
          "
          class="text-red-500 text-sm"
        >
          Cover Image is required.
        </div>
      </div>

      <!-- Active Status -->
      <div class="flex items-center">
        <input type="checkbox" formControlName="isActive" class="checkbox" />
        <label class="ml-2 text-sm font-medium text-gray-700">Is Active</label>
      </div>

      <!-- Registered Status -->
      <div class="flex items-center">
        <input type="checkbox" formControlName="registered" class="checkbox" />
        <label class="ml-2 text-sm font-medium text-gray-700">Registered</label>
      </div>

      <!-- Questions Section -->
      <div formArrayName="questions" class="space-y-4">
        <div
          *ngFor="let question of questions.controls; let i = index"
          [formGroupName]="i"
          class="bg-white p-6 rounded-lg shadow-md space-y-4"
        >
          <input
            formControlName="text"
            placeholder="Question {{ i + 1 }}"
            type="text"
            class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
          />
          <div formArrayName="options" class="space-y-2">
            <div
              *ngFor="let option of getOptions(i).controls; let j = index"
              class="flex items-center space-x-2"
            >
              <input
                [formControlName]="j"
                placeholder="Option {{ j + 1 }}"
                type="text"
                class="flex-grow p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
              />
              <button
                (click)="removeOption(i, j)"
                type="button"
                class="p-2 text-red-600 hover:text-white hover:bg-red-600 border border-red-600 rounded-lg transition"
              >
                Remove Option
              </button>
            </div>
            <button
              (click)="addOption(i)"
              type="button"
              class="p-2 text-green-600 hover:text-white hover:bg-green-600 border border-green-600 rounded-lg transition"
            >
              Add Option
            </button>
          </div>
          <button
            (click)="removeQ(i)"
            type="button"
            class="w-full p-2 text-white bg-red-600 hover:bg-red-700 rounded-lg transition"
          >
            Remove Question
          </button>
        </div>
        <button
          (click)="addQ()"
          type="button"
          class="w-full p-2 text-white bg-blue-600 hover:bg-blue-700 rounded-lg transition"
        >
          Add Question
        </button>
      </div>
      <div class="modal-action">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn" (click)="closeModal()">Close</button>
      </div>
    </form>
  </div>
</dialog>
